<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/assets/js/htmx.min.js"></script>
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@400;700;800&family=Cabin&family=Overpass:wght@500&display=swap"
        rel="stylesheet">
    <title>JK SA</title>
</head>

<body>
    <div class="contenedor">
        <div class="navbar">
            <div class="contenido-navbar">
                Icono
            </div>
            <div class="contenido-navbar">
                <a href="">Inicio</a>
                <a href="">Algo</a>
                <a href="">Otra cosa</a>
            </div>
            <div class="contenido-navbar">
                <a href="">Login</a>
            </div>
        </div>
        <div class="sub-contenedor">

        </div>
    </div>
</body>

</html>